@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap");
body,
html {
  width: 100%;
  height: 100%;
}
* {
	box-sizing: border-box;
}
body {
  font-family: "Source Serif Pro", serif;
  background-color: #fff;
  transition: background 0.2s linear;
  
}
body.dark {
	background: #0e1111;
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 10px;
  left: 10px;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}
.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
.fa-moon-o {
	color: #f1c40f;
}
.fa-sun-o {
	color: #f39c12;
}
.menu-toggle {
  position: fixed;
  right: 20px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

/* ************************ */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #0e1111;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

/* ***************** */
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("Images/Bg-Image/5849986.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000000;
}
.masthead h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

.masthead .mb-5 em {
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
  background-color: #d35d6e;
  border: none;
  color: #fff;
}

.btn-xl:hover {
  background-color: #fd3a69;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* ******************* */
.Container {
  margin: 2% 2% 0 3%;
}
.Movies img {
  margin-right: 1%;
  margin-bottom: 10%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 #000;
  transition: 0.8s;
}

.Movies img:hover {
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.Container h2 {
  margin-bottom: 2%;
  color: #696969;
}

/* ************************************************************ */

#footer {
  background-color: #020314;
  padding: 2% 15%;
  color: #fff;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
  cursor: pointer;
}
.footername {
  color: coral;
}

/* **************************************************************** */

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: whitesmoke;
}
.scroll-to-top:hover {
  background: #343a40;
}
.scroll-to-top i {
  font-weight: 800;
}
